<div class="marquee">
    <marquee behavior="scroll" direction="right" scrollamount="11">WELCOME TO ADMIN DASHBOARD</marquee>
    </div>
<div class="container">
    <div class="admin">
    <h2 class="mt-5">Admin Dashboard</h2>
    <button class="btn btn-primary mb-3" routerLink="/new-doctor">Doctor Details</button><br>
    <button class="btn btn-primary mb-3" routerLink="/new-doctor">Patient Details</button><br>
    <button class="btn btn-primary mb-3" routerLink="/new-doctor">Appointment Details</button>
</div>
    <!-- <h4>Available Doctors</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Doctor ID</th>
                <th>Doctor Name</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>YearOfExperience</th>
                <th>Specialization</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>101</td>
                <td>Dr. Poornima c</td>
                <td>9482742762</td>
                <td>pornima@gmail.com</td>
                <td>18 years</td>
                <td>Obstetrics and Gynecology</td>
                <td>
                    <button class="btn btn-secondary">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table> -->
</div>